@import '../../utils/breakpoints.scss';

.merchant-sign-up{
    font-family: 'Poppins', sans-serif;
    background: url('../../assets/Jumga\ Background.png');
    background-repeat: repeat;
    

    main{
        display: flex;
        flex-direction: column;
        padding: 1rem;
        margin: 1.5rem 0 5rem 0;
        
    }

    .merchant-sign-up-header{
        padding: 1rem;
        margin-left: 5%;

        @include media("<phone"){
           margin-left: 2.5%;
           padding: 0.5rem;
        }

        @include media(">=phone", "<=custom-view-3"){
            margin-left: 3%;
            padding: 0.5rem;
        }

            .merchant-sign-up-title{
                font-style: normal;
                font-weight: 500;
                font-size: 40px;
                line-height: 62px;

                @include media("<phone"){
                    font-size: 25px;
                    line-height: 42px;
                }
            
                @include media(">=phone", "<=custom-view-3"){
                    font-size: 30px;
                    line-height: 52px;
                }
            }

            .merchant-sign-up-subtitle{
                font-style: normal;
                font-weight: 300;
                font-size: 16px;
                line-height: 50px;

                @include media("<phone"){
                    font-size: 14px;
                    line-height: 25px;
                }
            
                @include media(">=phone", "<=custom-view-3"){
                    font-size: 15px;
                    line-height: 40px;
                }
            }
    }


    .merchant-sign-up-form{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        padding: 1rem;
        margin: 0.8rem 0;
        font-family: 'Poppins', sans-serif;

        @include media("<phone"){
            flex-direction: column-reverse;
            padding: 1rem 0;
            align-items: center;
        }
    
        @include media(">=phone", "<=custom-view-3"){
            flex-direction: column-reverse;
            padding: 1rem 0;
            align-items: center;
        }

        .form-details{
            display: flex;
            flex-direction: column;
            .business-details{
                display: flex;
                flex-direction: column;
            }
        }

        .form-input{
            background: #FFFFFF;
            border: 1px solid #00000036;
            border-radius: 36px;
            font-weight:400;
            font-size: 18px;
            line-height: 36px;
            padding: 0.5rem 1rem;
            margin: 1rem 0;
            max-width: 400px;
            transition: 0.2s;

            @include media("<phone"){
                font-size: 16px;
                line-height: 32px;
                padding: 0.4rem 0.6rem;
                margin: 0.7rem 0;
            }
        
            @include media(">=phone","<=custom-view-1"){
                font-size: 17px;
                line-height: 34px;
                padding: 0.5rem 0.7rem;
                margin: 0.8rem 0;
            }

            &:hover{
                border: 1px solid #000000;
            }

            &:focus{
                outline: 0.1px dotted rgba(0, 0, 0, 0.315);
                border: 1px solid #000000;
            }
        }

        .form-input-select{
            background: #FFFFFF;
            border: 1px solid #00000036;
            border-radius: 36px;
            font-weight:400;
            font-size: 18px;
            line-height: 36px;
            padding: 0.6rem 0.8rem;
            margin: 1rem 0;
            max-width: 400px;
            transition: 0.2s;

            @include media("<phone"){
                font-size: 16px;
                line-height: 32px;
                padding: 0.4rem 0.6rem;
                margin: 0.7rem 0;
            }
        
            @include media(">=phone","<=custom-view-1"){
                font-size: 17px;
                line-height: 34px;
                padding: 0.5rem 0.7rem;
                margin: 0.8rem 0;
            }

            &:hover{
                border: 1px solid #000000;
            }

            &:focus{
                outline: 0.1px dotted rgba(0, 0, 0, 0.315);
                border: 1px solid #000000;
            }
        }

        .account{
            padding: 0.5rem 0.3rem;
            max-width: 450px;

            .account-title{
                padding: 0.2rem;
                font-weight: normal;
                font-size: 20px;
                line-height: 36px;
            }

            .account-details{
                display: flex;
                flex-direction: column;
                background: #F0F0F0;
                border-radius: 36px;
                padding: 0.6rem;
                margin: 0.7rem 0;

                .form-input,
                .form-input-select{
                    max-width: 400px;
                    margin: 0.6rem 1rem;
                }

            }

            .account-info{
                font-weight: 300;
                font-size: 16px;
                line-height: 25px;

                @include media("<phone"){
                    font-size: 14px;
                    line-height: 23px;
                    padding: 0.5rem 0;
                }

                span{
                    color: #ff0000;
                }
            }

            
        }

        .register-btn{
            background: #56903B;
            font-family: 'Poppins', sans-serif;
            border-radius: 36px;
            border: none;
            padding: 1rem 1.1rem;
            max-width: 250px;
            font-size: 20px;
            color: #fff;
            margin: 1.5rem 0;
            font-style: normal;
            font-weight: 300;
            cursor: pointer;
            transition: 0.2s;

            @include media("<phone"){
                padding: 0.5rem;
                max-width: 200px;
                font-size: 20px;
                margin: 0.7rem 0;
            }
        
            @include media(">=phone","<=custom-view-1"){
                padding: 0.5rem 0.7rem;
                max-width: 230px;
                font-size: 21px;
                line-height: 34px;
                padding: 0.5rem 0.7rem;
                margin: 0.8rem 0;
            }

            &:hover{
                background: #3c632a;
            }
            
        }

        .merchant-login-link{
            font-weight: 300;
            font-size: 18px;
            line-height: 27px;
            margin: 1rem 0;

            @include media("<phone"){
                font-size: 16px;
                line-height: 20px;
            }
        
            @include media(">=phone","<=custom-view-1"){
                font-size: 17px;
                line-height: 25px;
            }

            span{
                padding: 0 0.2rem;
                transition: 0.3s;

                @include media("<phone"){
                    display: block;
                    padding: 0;
                }
            
                @include media(">=phone","<=custom-view-1"){
                    display: block;
                    padding: 0;
                }

                @include media(">=custom-view-1"){
                    &:hover{
                        border-bottom: 1px solid #000;
                    }
                }

                a{
                    font-weight: 500;
                    color: #000000;
                    text-decoration: none;
                }
            }
        }

        .business-logo{
            display: flex;
            flex-direction: column;
            align-items: center;
            align-self: flex-start;
            max-width: 300px;
            cursor: pointer;
            transition: 0.3s;
            padding: 0.5rem;
            border-radius: 30px;
            border: 1px solid #00000036;

            @include media("<phone"){
                max-width: 200px;
                margin: 0 auto;
            }
        
            @include media(">=phone", "<=custom-view-3"){
                max-width: 250px;
                margin: 0 auto;
            }

            &:hover{
                box-shadow: 0 4px 8px rgba(0, 0, 0, 0.219) ;
            }

            label{
                width: 100%;
                @include media("<=phone"){
                   display: flex;
                   flex-direction: row;
                   cursor: pointer;
                }
        
                @include media(">=phone", "<=custom-view-3"){
                    display: flex;
                    flex-direction: row;
                    cursor: pointer;
                }
            }


            .business-logo-img{
                width: 100%;
                cursor: pointer;

                @include media("<=phone"){
                    max-width: 30px;
                }
        
                @include media(">=phone", "<=custom-view-3"){
                    max-width: 50px;
                }
            }
            p{
                text-align: center;
                @include media("<=phone"){
                    align-self: center;
                }
        
                @include media(">=phone", "<=custom-view-3"){
                    align-self: center;
                }
            }
            input{
                opacity: 0;

                @include media("<=phone"){
                    height: 0;
                }
        
                @include media(">=phone", "<=custom-view-3"){
                    height: 0;
                }
            }
        }
    }
}