.products-menu{
    font-family: 'Poppins', sans-serif;
    

    .products-list{
        display: flex;
        flex-direction: row;
        // background: #f0f0f05b;
        border-radius: 36px;
        padding: 0.5rem;
        min-height: 70px;
    }

    .product{
        padding: 0.4rem;
        margin: 0 1rem ;
        cursor: pointer;
        font-size: 18px;
        line-height: 36px;
        color: rgba(0, 0, 0, 0.53);
        transition: 0.3s;

        &::after{
            content: '';
            transition: 0.2s;
            height: 2px;
            width: 0;
            color: rgba(0, 0, 0, 0.911);
            background-color: rgba(0, 0, 0, 0.911);
            border-radius: 40px;
        }

        &:hover{
            color: rgba(0, 0, 0, 0.849);

            &::after{
                display: block;
                width: 100%;
                margin: 0 auto;
            }

        }
    }

    .selected-category{
        color: #000;
        &::after{
            display: block;
            width: 100%;
            margin: 0 auto;
        }
    }
}