/**
*
* Testing
*
**/
* {
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.merchant-dashboard-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background: #f0f2f4;
  font-family: 'Poppins', sans-serif;
}

.merchant-dashboard-page aside {
  -ms-flex-item-align: start;
      align-self: flex-start;
  position: fixed;
  top: 0;
  left: 0;
  -webkit-transition: 0.7s;
  transition: 0.7s;
}

@media (max-width: 360px) {
  .merchant-dashboard-page aside {
    width: 0;
    overflow-x: hidden;
    z-index: 2;
  }
}

@media (min-width: 360px) and (max-width: 1200px) {
  .merchant-dashboard-page aside {
    width: 0;
    overflow-x: hidden;
    z-index: 2;
  }
}

.merchant-dashboard-page .open-dashboard {
  width: 100%;
}

.merchant-dashboard-page .merchant-dashboard-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 300px;
  width: 100%;
}

@media (max-width: 360px) {
  .merchant-dashboard-page .merchant-dashboard-main {
    margin: 0;
    position: relative;
  }
}

@media (min-width: 360px) and (max-width: 610px) {
  .merchant-dashboard-page .merchant-dashboard-main {
    margin: 0;
    position: relative;
  }
}

@media (min-width: 610px) and (max-width: 1200px) {
  .merchant-dashboard-page .merchant-dashboard-main {
    margin: 1rem;
    position: relative;
  }
}

.merchant-dashboard-page .merchant-dashboard-main .mobile-menu {
  display: none;
  position: absolute;
  top: 20px;
  left: -10px;
  border-radius: 50%;
  max-width: 50px;
  z-index: 1;
  cursor: pointer;
  -webkit-transition: 0.7s;
  transition: 0.7s;
}

@media (max-width: 360px) {
  .merchant-dashboard-page .merchant-dashboard-main .mobile-menu {
    display: block;
  }
}

@media (min-width: 360px) and (max-width: 1200px) {
  .merchant-dashboard-page .merchant-dashboard-main .mobile-menu {
    display: block;
  }
}

.merchant-dashboard-page .merchant-dashboard-main .mobile-menu:hover {
  -webkit-transform: translateX(10px);
          transform: translateX(10px);
}

.merchant-dashboard-page .merchant-dashboard-main .mobile-menu img {
  width: 100%;
}

.merchant-dashboard-page .merchant-dashboard-main .merchant-summary {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -ms-flex-item-align: end;
      align-self: flex-end;
  margin: 0.5rem 1rem;
  padding: 0.5rem;
  opacity: 0;
}

@media (max-width: 360px) {
  .merchant-dashboard-page .merchant-dashboard-main .merchant-summary {
    margin: 0.3rem;
  }
}

@media (min-width: 360px) and (max-width: 400px) {
  .merchant-dashboard-page .merchant-dashboard-main .merchant-summary {
    margin: 0.6rem;
  }
}

.merchant-dashboard-page .merchant-dashboard-main .merchant-summary .store-logo {
  max-width: 60px;
  margin: 0.5rem;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

@media (max-width: 360px) {
  .merchant-dashboard-page .merchant-dashboard-main .merchant-summary .store-logo {
    max-width: 40px;
  }
}

@media (min-width: 360px) and (max-width: 400px) {
  .merchant-dashboard-page .merchant-dashboard-main .merchant-summary .store-logo {
    max-width: 50px;
  }
}

.merchant-dashboard-page .merchant-dashboard-main .merchant-summary .store-logo img {
  width: 100%;
  border-radius: 10px;
  -o-object-fit: cover;
     object-fit: cover;
}

.merchant-dashboard-page .merchant-dashboard-main .store-summary {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.merchant-dashboard-page .merchant-dashboard-main .store-summary .approved-name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.merchant-dashboard-page .merchant-dashboard-main .store-summary .approved-name img {
  max-width: 14px;
  margin: 0 0.1rem;
}

@media (max-width: 360px) {
  .merchant-dashboard-page .merchant-dashboard-main .store-summary .approved-name img {
    max-width: 10px;
  }
}

@media (min-width: 360px) and (max-width: 400px) {
  .merchant-dashboard-page .merchant-dashboard-main .store-summary .approved-name img {
    max-width: 12px;
  }
}

.merchant-dashboard-page .merchant-dashboard-main .store-summary .store-name {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@media (max-width: 360px) {
  .merchant-dashboard-page .merchant-dashboard-main .store-summary .store-name {
    font-size: 15px;
    line-height: 23px;
  }
}

@media (min-width: 360px) and (max-width: 400px) {
  .merchant-dashboard-page .merchant-dashboard-main .store-summary .store-name {
    font-size: 16px;
    line-height: 25px;
  }
}

.merchant-dashboard-page .merchant-dashboard-main .store-summary .store-email {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 27px;
  color: rgba(0, 0, 0, 0.692);
  margin: 0.2rem;
}

@media (max-width: 360px) {
  .merchant-dashboard-page .merchant-dashboard-main .store-summary .store-email {
    font-size: 12px;
    line-height: 23px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

@media (min-width: 360px) and (max-width: 400px) {
  .merchant-dashboard-page .merchant-dashboard-main .store-summary .store-email {
    font-size: 13px;
    line-height: 25px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

.merchant-dashboard-page .merchant-dashboard-main .dashboard-display {
  min-height: 100vh;
}
