.merchant-dashboard-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background: #f0f2f4;
  font-family: 'Poppins', sans-serif;
}

.merchant-dashboard-page aside {
  -ms-flex-item-align: start;
      align-self: flex-start;
  position: fixed;
  top: 0;
  left: 0;
}

.merchant-dashboard-page .merchant-dashboard-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 280px;
  width: 100%;
}

.merchant-dashboard-page .merchant-dashboard-main .merchant-summary {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -ms-flex-item-align: end;
      align-self: flex-end;
  margin: 0.5rem 1rem;
  padding: 0.5rem;
}

.merchant-dashboard-page .merchant-dashboard-main .merchant-summary .store-logo {
  max-width: 60px;
  margin: 0.5rem;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.merchant-dashboard-page .merchant-dashboard-main .merchant-summary .store-logo img {
  width: 100%;
  border-radius: 10px;
}

.merchant-dashboard-page .merchant-dashboard-main .store-summary {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.merchant-dashboard-page .merchant-dashboard-main .store-summary .store-name {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
}

.merchant-dashboard-page .merchant-dashboard-main .store-summary .store-email {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 27px;
  color: rgba(0, 0, 0, 0.692);
  margin: 0.2rem;
}
