@import '../../utils/breakpoints.scss';

*{
    transition: 0.2s;
}

.merchant-dashboard-page{
    display: flex;
    flex-direction: row;
    background: #f0f2f4;
    font-family: 'Poppins', sans-serif;

    aside{
        align-self: flex-start;
        position: fixed;
        top: 0;
        left: 0;
        transition: 0.7s;

        @include media("<=phone"){
            width: 0;
            overflow-x: hidden;
            z-index: 2;
        }

        @include media(">=phone", "<=desktop"){
            width: 0;
            overflow-x: hidden;
            z-index: 2;
        }
    }

    .open-dashboard{
        width: 100%;
    }

    .merchant-dashboard-main{
        display: flex;
        flex-direction: column;
        margin-left: 300px;
        width: 100%;

        @include media("<=phone"){
            margin: 0;
            position: relative;
        }

        @include media(">=phone", "<=custom-view-4"){
            margin: 0;
            position: relative;
        }

        @include media(">=custom-view-4", "<=desktop"){
            margin: 1rem;
            position: relative;
        }

        .mobile-menu{
            display: none;
            position: absolute;
            top:20px;
            left:-10px;
            border-radius: 50%;
            max-width: 50px;
            z-index: 1;
            cursor: pointer;
            transition: 0.7s;

            @include media("<=phone"){
                display: block;
            }
    
            @include media(">=phone", "<=desktop"){
                display: block;
            }

            &:hover{
                transform: translateX(10px);
            }

            img{
                width: 100%;
            }
        }


        .merchant-summary{
            display: flex;
            flex-direction: row-reverse;
            align-self: flex-end;
            margin: 0.5rem 1rem;
            padding: 0.5rem;
            opacity: 0;
            

            @include media("<=phone"){
                margin: 0.3rem;
            }
    
            @include media(">=phone", "<=custom-view-7"){
                margin: 0.6rem;
            }

            .store-logo{
                max-width:60px;
                margin:0.5rem;
                align-self:center;

                @include media("<=phone"){
                    max-width: 40px;
                }
        
                @include media(">=phone", "<=custom-view-7"){
                    max-width: 50px;
                }
                img{
                    width:100%;
                    border-radius: 10px;
                    object-fit:cover;
                }
            }
        }

        .store-summary{
            align-self:center;

            .approved-name{
                display: flex;
                flex-direction: row;

                img{
                    max-width: 14px;
                    margin: 0 0.1rem;

                    @include media("<=phone"){
                        max-width: 10px;
                    }
            
                    @include media(">=phone", "<=custom-view-7"){
                        max-width: 12px;
                    }
                }
            }

            .store-name{
                font-style: normal;
                font-weight: 500;
                font-size: 18px;
                line-height: 27px;
                // The ellipsis
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;

                @include media("<=phone"){
                    font-size: 15px;
                    line-height: 23px;
                }
        
                @include media(">=phone", "<=custom-view-7"){
                    font-size: 16px;
                    line-height: 25px;
                }
            }

            .store-email{
                font-style: normal;
                font-weight: 400;
                font-size: 14px;
                line-height: 27px;
                color: rgba(0, 0, 0, 0.692);
                margin: 0.2rem;

                @include media("<=phone"){
                    font-size: 12px;
                    line-height: 23px;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                }
        
                @include media(">=phone", "<=custom-view-7"){
                    font-size: 13px;
                    line-height: 25px;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                }
            }
        }

        .dashboard-display{
            min-height: 100vh;
        }

    }
}