.user-login-page {
  font-family: 'Poppins', sans-serif;
}

.user-login-page main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 1rem;
  margin: 3rem 0 6rem 0;
}

.user-login-page .user-login-img {
  max-width: 500px;
  padding: 1rem;
  margin: 3rem 0.5rem 1.5rem 0.5rem;
}

.user-login-page .user-login-img svg {
  width: 100%;
}

.user-login-page .user-login {
  max-width: 500px;
  width: 100%;
}

.user-login-page .user-login-header {
  padding: 1rem;
}

.user-login-page .user-login-header .user-login-title {
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 62px;
}

.user-login-page .user-login-header .user-login-subtitle {
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 50px;
}

.user-login-page .user-login-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.user-login-page .user-signup-link {
  font-weight: 300;
  font-size: 18px;
  line-height: 27px;
  margin: 1rem 0;
}

.user-login-page .user-signup-link span {
  padding: 0 0.2rem;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.user-login-page .user-signup-link span:hover {
  border-bottom: 1px solid #000;
}

.user-login-page .user-signup-link span a {
  font-weight: 500;
  color: #000000;
  text-decoration: none;
}
