.stores-page{
    font-family: 'Poppins', sans-serif;
    .stores-header{

        .stores-search{
            display: flex;
            flex-direction: row;
            align-content: center;
            background-color: #fff;
            border-radius: 75px;
            padding: 0.6rem ;
            max-width: 600px;
            box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.09);
            // border: 1px solid #00000036;
            
            img{
                padding: 0.2rem;
                max-width: 30px;
            }
    
            .search-input{
                border: none;
                font-size: 18px;
                margin: 0 0.2rem 0 0.7rem;
                padding: 0.2rem;
                width: 100%;
    
                &::placeholder{
                    font-family: 'Poppins', sans-serif;
                }
    
                &:focus{
                    outline: 0.1px dotted rgba(0, 0, 0, 0.315);
                }
            }
        }
    }
    main{
        padding: 1rem;
        margin: 0.5rem 0.5rem 6rem 0.5rem;
        .stores-gallery{
            display: flex;
            flex-wrap: wrap;
        }
    }
    
}