.stores-page {
  font-family: 'Poppins', sans-serif;
}

.stores-page .stores-header {
  padding: 0.5rem;
  margin-bottom: 1rem;
}

.stores-page .stores-header .stores-page-title {
  font-style: normal;
  font-weight: 500;
  font-size: 45px;
  line-height: 67px;
}

.stores-page main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 1rem;
  margin: 0 7% 30% 7%;
}

.stores-page main .stores-gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0.5rem;
}
