.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-family: 'Poppins', sans-serif;
  padding: 1rem 0.5rem;
  width: 100%;
}

.navigation .mobile-menu-btn {
  display: none;
}

.navigation .logo {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin: 0 0.5rem;
  text-decoration: none;
  cursor: pointer;
}

.navigation .logo:hover h1 {
  text-shadow: 0px 3px 6px rgba(0, 0, 0, 0.25);
  -webkit-transform: translateY(-1px);
          transform: translateY(-1px);
}

.navigation .logo h1 {
  font-family: 'Shrikhand', cursive;
  color: #fff;
  font-size: 48px;
  line-height: 73px;
  text-align: center;
  padding: 0 1rem;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.navigation .dark {
  color: #000 !important;
}

.navigation .desktop-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 0.5rem;
  -ms-flex-item-align: center;
      align-self: center;
}

.navigation .desktop-menu li {
  margin: 0 1.5rem;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  cursor: pointer;
}

.navigation .desktop-menu li:hover {
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
}

.navigation .desktop-menu button {
  border: none;
  background: none;
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.navigation .desktop-menu .menu-item {
  padding: 0.4rem;
  text-decoration: none;
  color: #fff;
  font-weight: 300;
  font-size: 18px;
  line-height: 27px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.navigation .dark-menu-item {
  padding: 0.4rem;
  text-decoration: none;
  color: #000;
  font-weight: 300;
  font-size: 18px;
  line-height: 27px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.navigation .dark-menu-item:hover {
  color: rgba(0, 0, 0, 0.685);
}

.navigation .mobile-menu-container {
  display: none;
}

ul {
  list-style-type: none;
}

.alt-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  font-family: 'Poppins', sans-serif;
  padding: 0.7rem 0.5rem;
  width: 100%;
}

.alt-navigation .mobile-menu-btn {
  display: none;
}

.alt-navigation .desktop-menu-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.alt-navigation .desktop-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-item-align: center;
      align-self: center;
}

.alt-navigation .desktop-menu li {
  margin: 0 1.5rem;
  cursor: pointer;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.alt-navigation .desktop-menu li:hover {
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
}

.alt-navigation .desktop-menu .menu-item {
  padding: 0.4rem;
  text-decoration: none;
  color: #000;
  font-weight: 400;
  font-size: 16px;
  line-height: 27px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  margin: 0 2rem;
}

.alt-navigation .logo {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin: 0 0.5rem;
  text-decoration: none;
  cursor: pointer;
}

.alt-navigation .logo:hover h1 {
  text-shadow: 0px 3px 6px rgba(0, 0, 0, 0.25);
  -webkit-transform: translateY(-1px);
          transform: translateY(-1px);
}

.alt-navigation .logo h1 {
  font-family: 'Shrikhand', cursive;
  color: #000;
  font-size: 48px;
  line-height: 73px;
  text-align: center;
  padding: 0 0.5rem;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
