.navigation{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: 'Poppins', sans-serif;
    padding: 1rem 0.5rem;
    width: 100%;

    .mobile-menu-btn{
        display: none;
    }
    

    .logo{
        align-self: center;
        margin: 0 0.5rem;
        text-decoration: none;
        cursor: pointer;
        

        &:hover{
            h1{
                text-shadow: 0px 3px 6px rgba(0, 0, 0, 0.25);
                transform: translateY(-1px);
            }
        }

        h1{
            font-family: 'Shrikhand', cursive;
            color:#fff;
            font-size: 48px;
            line-height: 73px;
            text-align: center;
            padding: 0 1rem;
            transition: 0.3s;
        }
    }

    .dark{
        color: #000 !important;
    }

    .desktop-menu{
        display:flex;
        position: relative;
        flex-direction:row;
        padding: 0.5rem ;
        align-self: center;

        li{
            margin: 0 1.5rem;
            transition: 0.2s;
            cursor: pointer;

            &:hover{
                transform: translateY(-2px);
                font-weight: 300;
                font-size: 18px;
            }

            button{
                border: none;
                background: none;
                font-family: 'Poppins', sans-serif;
                font-weight: 300;
                align-self: flex-start;
                padding: 0 !important;
                cursor: pointer;

                &:focus{
                    outline: none;
                }
            }
        }

        

        .menu-item{
            padding: 0.4rem;
            text-decoration: none;
            color: #fff;
            font-weight: 300;
            font-size: 18px;
            line-height: 27px;
            transition: 0.2s;

            
        }
    }

    .dark-menu-item{
        padding: 0.4rem;
        text-decoration: none;
        color:#000;
        font-weight: 300;
        font-size: 18px;
        line-height: 27px;
        transition: 0.2s;

        &:hover{
            color: rgba(0, 0, 0, 0.685);
        }
    }

    .mobile-menu-container{
        display: none;
    }
}

ul{
    list-style-type:none;
}


// Alternate Navigation

.alt-navigation{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    font-family: 'Poppins', sans-serif;
    padding: 0.7rem 0.5rem;
    width: 100%;

    .mobile-menu-btn{
        display: none;
    }

    .desktop-menu-container{
        display: flex;
        flex-direction: row;
        align-content: center;
        justify-content: space-between;
        width:100%;
    }

    .desktop-menu{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-self: center;

        li{
            margin: 0 1.5rem;
            cursor: pointer;
            transition: 0.2s;

            &:hover{
                transform: translateY(-2px);
            }

            button{
                border: none;
                background: none;
                font-family: 'Poppins', sans-serif;
                font-weight: 300;
                align-self: flex-start;
                padding: 0 !important;
                cursor: pointer;


                &:focus{
                    outline: none;
                }
            }
        }

        .menu-item{
            padding: 0.4rem;
            text-decoration: none;
            color: #000;
            font-weight: 400;
            font-size: 16px;
            line-height: 27px;
            transition: 0.2s;
            margin: 0 2rem ;


        }
    }

    

    .logo{
        align-self: center;
        margin: 0 0.5rem;
        text-decoration: none;
        cursor: pointer;


        &:hover{
            h1{
                text-shadow: 0px 3px 6px rgba(0, 0, 0, 0.25);
                transform: translateY(-1px);
            }
        }

        h1{
            font-family: 'Shrikhand', cursive;
            color:#000;
            font-size: 48px;
            line-height: 73px;
            text-align: center;
            padding: 0 0.5rem;
            transition: 0.3s;
        }
    }
}