.merchant-dispatch-service {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: 'Poppins', sans-serif;
}

.merchant-dispatch-service .merchant-dispatch-service-title {
  font-weight: 500;
  font-size: 40px;
  line-height: 40px;
}

.merchant-dispatch-service .current-dispatch-rider {
  padding: 0.5rem;
  margin: 1rem 2rem;
}

.merchant-dispatch-service .current-dispatch-rider .current-dispatch-rider-title {
  font-weight: normal;
  font-size: 25px;
  line-height: 25px;
  padding: 0.5rem;
}

.merchant-dispatch-service .current-dispatch-rider .current-dispatch-rider-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 0.5rem;
}

.merchant-dispatch-service .current-dispatch-rider .dispatch-rider-passport {
  max-width: 200px;
  border-radius: 30px;
}

.merchant-dispatch-service .current-dispatch-rider .dispatch-rider-passport img {
  width: 100%;
  border-radius: 30px;
}

.merchant-dispatch-service .current-dispatch-rider .dispatch-rider-details {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin: 0 1rem;
}

.merchant-dispatch-service .current-dispatch-rider .dispatch-rider-details .name {
  font-size: 20px;
  line-height: 27px;
  font-weight: 400;
}

.merchant-dispatch-service .current-dispatch-rider .dispatch-rider-details .contact-details-title {
  font-size: 16px;
  line-height: 27px;
  color: rgba(0, 0, 0, 0.62);
  font-weight: 300px;
}

.merchant-dispatch-service .new-rider {
  margin: 3rem 2rem;
}

.merchant-dispatch-service .new-rider .new-rider-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.merchant-dispatch-service .new-rider .new-rider-header .chevron {
  margin-top: 0.32rem;
}

.merchant-dispatch-service .new-rider .new-rider-header .new-rider-title {
  margin: 0.6rem 0;
  font-weight: normal;
  font-size: 25px;
  line-height: 25px;
  padding: 0.5rem;
}

.merchant-dispatch-service .new-rider .new-rider-form-body {
  padding: 1rem 2rem;
}

.merchant-dispatch-service .new-rider .new-rider-form-body .new-rider-subtitle {
  font-style: italic;
  font-weight: 300;
  font-size: 15px;
  line-height: 24px;
}

.merchant-dispatch-service .new-rider .new-rider-form-body .new-rider-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.merchant-dispatch-service .new-rider .new-rider-form-body .new-rider-form .merchant-form-input {
  padding: 0.5rem 0.8rem;
  border-radius: 36px;
  -webkit-box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
  border: none;
  margin: 0.7rem 0;
  background: #ffffff;
  font-weight: normal;
  font-size: 18px;
  line-height: 36px;
  max-width: 400px;
}

.merchant-dispatch-service .new-rider .new-rider-form-body .new-rider-form .merchant-form-input:focus {
  outline: 0.1px dotted rgba(0, 0, 0, 0.315);
}

.merchant-dispatch-service .new-rider .new-rider-form-body .new-rider-form .merchant-form-select {
  background: #FFFFFF;
  -webkit-box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
  border-radius: 36px;
  border: none;
  font-weight: 400;
  font-size: 18px;
  line-height: 36px;
  padding: 0.5rem 0.8rem;
  margin: 1rem 0;
  max-width: 400px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.merchant-dispatch-service .new-rider .new-rider-form-body .new-rider-form .merchant-form-select::-ms-expand {
  display: none;
}

.merchant-dispatch-service .new-rider .new-rider-form-body .new-rider-form .merchant-form-select:hover {
  -webkit-box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.041);
          box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.041);
}

.merchant-dispatch-service .new-rider .new-rider-form-body .new-rider-form .merchant-form-select:focus {
  outline: 0.1px dotted rgba(0, 0, 0, 0.315);
}

.merchant-dispatch-service .new-rider .new-rider-form-body .new-rider-form .merchant-form-submit {
  background: #56903B;
  font-family: 'Poppins', sans-serif;
  border-radius: 36px;
  border: none;
  padding: 0.6rem 1rem;
  max-width: 220px;
  font-size: 18px;
  color: #fff;
  margin: 2rem 0;
  font-style: normal;
  font-weight: 300;
  cursor: pointer;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.merchant-dispatch-service .new-rider .new-rider-form-body .new-rider-form .merchant-form-submit:hover {
  background: #3c632a;
}
