@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@import '../../utils/breakpoints.scss';

.landing-page{
    font-family: 'Poppins', sans-serif;
    width: 100%;
    transition: 0.3s;
    // background: url('../../assets/Jumga\ Background.png');
    // background-repeat: repeat;

    .landing-header{
        display: flex;
        flex-direction: column;
        // background: linear-gradient(0deg, rgba(0, 0, 0, 0.74), rgba(0, 0, 0, 0.74)), url('https://res.cloudinary.com/dkow6vfth/image/upload/v1609805142/jumga-images/mock%20images/BojAdpN4n1M_iegwqs.png');
        background-image: url("https://res.cloudinary.com/dkow6vfth/image/upload/f_auto,q_auto,e_colorize:80,co_rgb:000/v1610856962/jumga-images/mock%20images/compressed/BojAdpN4n1M_vtpx4j.png");
        background-position: center;
        background-size: cover;
        background-attachment: fixed;
        width: 100%;
        transition: background-image 1s ease-in-out;

        @include media("<phone"){
            background-attachment: scroll;
        }
    
    
        @include media(">=phone","<=custom-view-2"){
            background-attachment: scroll;
        }

        &:hover{ 
            background-image: url('https://res.cloudinary.com/dkow6vfth/image/upload/f_auto,q_auto,e_colorize:80,co_rgb:000/v1610857007/jumga-images/mock%20images/compressed/Rectangle_67_lbctdm.png');
            background-size: cover;
        }


        .hero{
            padding: 4rem 3rem 6rem 3rem ;
            margin: 1rem 2rem;

            @include media("<phone"){
                padding: 2rem 0;
                margin: 0.5rem;
            }

            @include media(">=phone","<=custom-view-1"){
                padding: 2rem 0.2rem;
                margin: 1rem 0.5rem;
            }
        
            @include media(">=custom-view-1","<=custom-view-2"){
                padding: 2rem;
                margin: 1rem 1.5rem;
                
            }
        }

        .hero-image{
            display: none;
            position: absolute;
            max-width: 300px;


            img{
                width: 100%;
                object-fit: cover;
            }
        }
        .hero-text{
            color: #fff;
            font-style: normal;
            padding: 1rem 1.8rem;

            @include media("<phone"){
                padding: 0;
                margin: 1.5rem 0;
            }
        
            @include media(">=phone","<=custom-view-2"){
                padding: 0;
                margin: 1.5rem 0;
            }

            .hero-title{
                margin: 0.5rem 1.5rem;
                font-style: normal;
                font-weight: 500;
                font-size: 50px;
                line-height: 60px;
                opacity: 0;
                text-shadow: 0px 2px 6px rgba(0, 0, 0, 0.247);

                @include media("<phone"){
                    font-size: 30px;
                    line-height: 30px;
                    margin: 0.5rem;
                }
            
                @include media(">=phone","<=custom-view-2"){
                    font-size: 35px;
                    line-height: 35px;
                    margin: 0.5rem;
                }
            }

            .hero-main-text{
                width: 100%;
                max-width: 600px;
                padding: 0.5rem 1rem;
                margin: 1.5rem 0;
                font-size: 18px;
                line-height: 43px;
               font-weight: 300;
               opacity: 0;

               @include media("<phone"){
                    font-size: 14px;
                    line-height: 23px;
                    padding: 0.5rem 0.3rem;
                }
            
                @include media(">=phone","<=custom-view-2"){
                    font-size: 15px;
                    line-height: 25px;
                    padding: 0.5rem;
                }                
            }

            .shop-btn{
                margin: 0.5rem 2rem;
                text-decoration: none;
                padding: 0.7rem 2rem;
                color: #000;
                background-color: #fff;
                border-radius: 76px;
                font-weight: 500;
                font-size: 19px;
                transition:0.2s;
                opacity: 0;
                border: 2px solid #fff;
                outline: 0.1px dotted rgba(0, 0, 0, 0.103); 
                cursor: pointer;

                @include media("<phone"){
                    font-size: 16px;
                    margin: 0.5rem 0.2rem;
                    padding: 0.5rem 1rem;
                }
            
                @include media(">=phone","<=custom-view-2"){
                    font-size: 17px;
                    margin: 0.5rem 1.2rem;
                    padding: 0.5rem 1.5rem;
                }

                &:hover{
                    color: #fff;
                    background-color: #000;
                    
                }
            }
        

        }   
    
    }

    

    
    main{
        margin: 2rem 1.5rem;
        padding: 2rem 1rem;

        @include media("<phone"){
            margin: 1.5rem 0.3rem;
            padding: 0.7rem 0.3rem;
        }
    
        @include media(">=phone","<=custom-view-3"){
            margin: 1.5rem 0.5rem;
            padding: 1rem 0.5rem;
        }
    }

    .top-offers{
        .top-offers-title{
            font-weight: 600;
            font-size: 45px;
            line-height: 60px;

            @include media("<phone"){
                font-size: 25px;
                line-height: 30px;
            }
        
            @include media(">=phone","<=custom-view-3"){
                font-size: 30px;
                line-height: 40px;
            }
        }

        .offers-tiles{
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(250px,1fr));
            grid-auto-flow: row;
            grid-gap: 10px;
            width: 100%;
            max-width: 1270px;
            border-radius: 36px;
            padding: 1rem;
            margin: 2rem 0 1rem 0;

            @include media("<phone"){
                height: 350px;
                overflow-y: scroll;
                padding: 1rem 0.3rem;
                grid-gap: 6px;

                
            }
        
            @include media(">=phone","<=custom-view-3"){
                height: 350px;
                overflow-y: scroll;
            }

            &::-webkit-scrollbar{
                width: 10px;
                height: 10px;
            }
            
            &::-webkit-scrollbar-thumb{
                background: rgba(0, 5, 23, 0.13);
                border-radius: 10px;
                box-shadow: inset 2px 2px 2px hsla(0, 0%, 100%, .25%);
            }

            &::-webkit-scrollbar-track{
                background: #ffffff4d;
            }
        }

        .offer-tile{
            display: flex;
            flex-direction: column;
            padding: 1rem;
            
            border-radius: 30px;
            cursor: pointer;

            
            .offer-title{
                color: #fff;
                font-weight: bold;
                font-size: 45px;
                line-height: 80px;
                color: #FFFFFF;
                text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
                text-transform: uppercase;

                @include media("<phone"){
                    font-size: 25px;
                    line-height: 30px;
                }
            
                @include media(">=phone","<=custom-view-3"){
                    font-size: 38px;
                    line-height: 50px;
                }
                
            }
            .offer-subtitle{
                color: #fff;
                text-transform: uppercase;
                font-weight: bold;
                font-size: 18px;
                line-height: 36px;
                color: #FFFFFF;
                text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);

                @include media("<phone"){
                    font-size: 15px;
                    line-height: 30px;
                }
            
                @include media(">=phone","<=custom-view-3"){
                    font-size: 16px;
                    line-height: 30px;
                }
            }
        }

        .tile-1{
            background: linear-gradient(0deg, rgba(0, 0, 0, 0.34), rgba(0, 0, 0, 0.34)), url('https://res.cloudinary.com/dkow6vfth/image/upload/v1610856997/jumga-images/mock%20images/compressed/QHha7JOJYnw_swlbcd.png');
            background-size: 100%;
            background-repeat: no-repeat;
            transition: all 6s;

            @include media("<phone"){
                background-size: cover;
            }
        
            @include media(">=phone","<=custom-view"){
                background-size: cover;

                &:hover{
                    background-size: cover;
                }
            }

            @include media(">=custom-view"){
                &:hover{
                    background-size: 120%;
                    background-position: center;
                }
            }
        }

        .tile-2{
            background: linear-gradient(0deg, rgba(0, 0, 0, 0.34), rgba(0, 0, 0, 0.34)), url('https://res.cloudinary.com/dkow6vfth/image/upload/v1610857002/jumga-images/mock%20images/compressed/TpXoTb1uR5A_rtbfwe.png');
            background-size: 100%;
            background-repeat: no-repeat;
            transition: all 6s;

            @include media("<phone"){
                background-size: cover;
            }
        
            @include media(">=phone","<=custom-view"){
                background-size: cover;

            }

            @include media(">=custom-view"){
                &:hover{
                    background-size: 120%;
                    background-position: center;
                }
            }
        }

        .tile-3{
            background: linear-gradient(0deg, rgba(0, 0, 0, 0.34), rgba(0, 0, 0, 0.34)), url('https://res.cloudinary.com/dkow6vfth/image/upload/v1610857013/jumga-images/mock%20images/compressed/s285sDw5Ikc_xrjavq.png');
            background-size: 100%;
            background-repeat: no-repeat;
            transition: all 6s;

            @include media("<phone"){
                background-size: cover;
            }
        
            @include media(">=phone","<=custom-view"){
                background-size: cover;
            }
            

            @include media(">=custom-view"){
                &:hover{
                    background-size: 120%;
                    background-position: center;
                }
            }
        }

        .tile-4{
            background: linear-gradient(0deg, rgba(0, 0, 0, 0.54), rgba(0, 0, 0, 0.54)), url('https://res.cloudinary.com/dkow6vfth/image/upload/v1610856949/jumga-images/mock%20images/compressed/nUL_PP69IPA_k1vznm.png');
            background-size: 100%;
            background-repeat: no-repeat;
            transition: all 6s;
            grid-row-start: 2;
            grid-column-end: span 2;

            @include media("<phone"){
                background-size: cover;
                grid-row-start: unset;
                grid-column-end: unset;
            }
        
            @include media(">=phone","<=custom-view-4"){
                background-size: cover;
                grid-row-start: unset;
                grid-column-end: unset;
            }

            @include media(">=custom-view-4"){
                &:hover{
                    background-size: 120%;
                    background-position: center;
                }
            }
        }

        .tile-5{
            background: linear-gradient(0deg, rgba(0, 0, 0, 0.34), rgba(0, 0, 0, 0.34)), url('https://res.cloudinary.com/dkow6vfth/image/upload/v1610857004/jumga-images/mock%20images/compressed/ugZxwLQuZec_axfeta.png');
            background-size: 100%;
            background-repeat: no-repeat;
            transition: all 6s;
            // grid-column: 3;

            @include media("<phone"){
                background-size: cover;
            }
        
            @include media(">=phone","<=custom-view-4"){
                background-size: cover;
            }
            

            @include media(">=custom-view-4"){
                &:hover{
                    background-size: 120%;
                    background-position: center;
                }
            }
        }

        .tile-6{
            background: linear-gradient(0deg, rgba(0, 0, 0, 0.34), rgba(0, 0, 0, 0.34)), url('https://res.cloudinary.com/dkow6vfth/image/upload/v1610856968/jumga-images/mock%20images/compressed/EU-xyudgHPc_zjczel.png');
            background-size: 100%;
            background-repeat: no-repeat;
            background-position: center;
            transition: all 6s;

            @include media("<phone"){
                background-size: cover;
            }
        
            @include media(">=phone","<=custom-view-4"){
                background-size: cover;
            }

            @include media(">=custom-view-4"){
                &:hover{
                    background-size: 120%;
                    background-position: center;
                }
            }

            .offer-title{
                max-width:380px ;
                font-size: 35px;
                line-height: 80px;

                @include media("<phone"){
                    font-size: 25px;
                    line-height: 30px;
                }
            
                @include media(">=phone","<=custom-view-3"){
                    font-size: 38px;
                    line-height: 50px;
                }
            }
        }

        .tile-7{
            background: linear-gradient(0deg, rgba(0, 0, 0, 0.34), rgba(0, 0, 0, 0.34)), url('https://res.cloudinary.com/dkow6vfth/image/upload/v1610856989/jumga-images/mock%20images/compressed/R9SnQTDzQNw_hebacx.png');
            background-size: 100%;
            background-repeat: no-repeat;
            background-position: center;
            transition: all 6s;

            @include media("<phone"){
                background-size: cover;
            }
        
            @include media(">=phone","<=custom-view-4"){
                background-size: cover;
            }

            @include media(">=custom-view-4"){
                &:hover{
                    background-size: 120%;
                    background-position: center;
                }
            }

            .offer-title{
                max-width:380px;
                font-size: 35px;
                line-height: 80px;

                @include media("<phone"){
                    font-size: 25px;
                    line-height: 30px;
                }
            
                @include media(">=phone","<=custom-view-3"){
                    font-size: 38px;
                    line-height: 50px;
                }
            }
        }

    }

    .homepage-categories{
        display: flex;
        flex-direction: column;
        padding: 2rem 1rem;
        margin: 2rem 0;

        @include media("<phone"){
            padding: 2rem 0;
        }
    
        @include media(">=tablet","<=custom-view"){
            padding: 2rem 0;
        }

        .homepage-categories-title{
            font-weight: 600;
            font-size: 45px;
            line-height: 60px;
            color: #000000;

            @include media("<phone"){
                font-size: 25px;
                line-height: 30px;
            }
        
            @include media(">=phone","<=custom-view-3"){
                font-size: 30px;
                line-height: 40px;
            }
        }

        .categories-list{
            display: flex;
            flex-direction: column;
            margin: 0.5rem 2rem;
            overflow-x: hidden;

            @include media("<phone"){
                // overflow-x: unset;
                margin: 0.5rem 0;
            }
        
            @include media(">=phone","<=custom-view"){
                // overflow-x: unset;
                margin: 0.5rem ;
            }
        }

        .category{
            display: flex;
            margin: 2rem 0;
            padding: 1rem;
            justify-content: space-around;
            width: 100%;

            @include media("<phone"){
                padding: 1rem 0;
            }
        
            @include media(">=phone","<=custom-view-2"){
                padding: 1rem 0.5rem;
            }
            
            &:nth-child(even){
                flex-direction: row-reverse;

                @include media("<phone"){
                    flex-direction: column;
                }
            
                @include media(">=phone","<=custom-view-2"){
                    flex-direction: column;
                }

            }

            &:nth-child(odd){
                flex-direction: row;

                @include media("<phone"){
                    flex-direction: column;
                }
            
                @include media(">=phone","<=custom-view-2"){
                    flex-direction: column;
                }
            }

            .category-img{
                max-width:550px;
                max-height: 400px;

                @include media("<phone"){
                    height: 200px;
                }
            
                @include media(">=phone","<=custom-view-2"){
                    height: 400px;
                }
                
                img{
                    width: 100%;
                    height: 100%;
                    border-radius: 30px;
                    border: 2px solid #00000036;
                    object-fit: cover;
                }
            }

            .category-details{
                align-self: center;
                margin: 0 5%;

                @include media("<phone"){
                    align-self: flex-start;
                    margin: 1rem 0.4rem;
                }
            
                @include media(">=phone","<=custom-view-2"){
                    align-self: flex-start;
                    margin: 1rem 0.4rem;
                }

                .category-title{
                    font-weight: 500;
                    font-size: 38px;
                    line-height: 40px;

                    @include media("<phone"){
                        font-size: 22px;
                        line-height: 30px;
                    }
                
                    @include media(">=phone","<=custom-view-3"){
                        font-size: 32px;
                        line-height: 40px;
                    }
                }

                .category-description{
                    font-weight: lighter;
                    font-size: 18px;
                    line-height: 30px;
                    margin: 2rem 0;
                    max-width: 450px;

                    @include media("<phone"){
                        font-size: 16px;
                        line-height: 30px;
                        margin: 1rem 0;
                        max-width: 450px;
                    }
                
                    @include media(">=phone","<=custom-view-2"){
                        font-size: 17px;
                        line-height: 30px;
                        margin: 1.5rem 0;
                        max-width: 550px;
                    }
                }

                .shop-btn{
                    margin: 0.7rem 0;
                    text-decoration: none;
                    padding: 0.6rem 1rem;
                    color: #000;
                    background-color: #fff;
                    border: 2px solid #000;
                    border-radius: 76px;
                    transition:0.2s;
                    font-weight: 500;

                    @include media("<phone"){
                        margin: 1rem 0;
                        padding: 0.4rem 0.8rem;
                    }
                
                    @include media(">=phone","<=custom-view-3"){
                        margin: 1rem 0;
                        padding: 0.4rem 0.8rem;
                    }
            
                    &:hover{
                        color: #fff;
                        background-color: #000;
                    }
                }
            }
        }
    }
    
    .products-homepage-link{
        display: flex;
        flex-direction: row;
        font-family: 'Poppins', sans-serif;
        margin: 4rem;
        font-weight: 300;
        font-size: 24px;
        line-height: 36px;
        color: #000;
        text-decoration: none;
        width: fit-content;
        background: none;
        border: none;
        cursor: pointer;

        @include media("<phone"){
            margin: 4rem 1rem;
            font-size: 18px;
            line-height: 30px;
        }
    
        @include media(">=phone","<=custom-view-2"){
            margin: 4rem 2rem;
            font-size: 20px;
            line-height: 30px;
        }

        &:hover{
            p{
                color: rgba(0, 0, 0, 0.644);
                
            }
            svg{
                transform: translateX(5px);
            }
        }

        &:focus{
            outline: none;
        }

        p{
            align-self: center;
            transition: all 0.3s;

            @include media("<phone"){
                font-size: 16px;
                line-height: 30px;
            }
        
            @include media(">=phone","<=custom-view-2"){
                font-size: 18px;
            }
        }

        .arrow{
            border: 1px solid #000;
            align-self: center;
            margin: 0.5rem 0.3rem;
            padding: 0.4rem 0.6rem;
            border-radius: 50%;

            @include media("<phone"){
                padding: 0.2rem 0.4rem;
            }
        
            @include media(">=phone","<=custom-view-2"){
                padding: 0.3rem 0.5rem;
            }
            
            svg{
                transition: 0.2s;
                width: 31px;
                height: 16px;

                @include media("<phone"){
                    width: 25px;
                    height: 14px;
                }
            
                @include media(">=phone","<=custom-view-2"){
                    width: 28px;
                    height: 15px;
                }
            }
        }
    }
}