/**
*
* Testing
*
**/
.profile-dropdown {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  left: 290px;
  top: 40px;
  padding: 0.3rem 0.5rem;
  width: 100%;
  max-width: 350px;
  background: #fff;
  border-radius: 11px;
  z-index: 1;
  -webkit-transform: translateY(-1000px);
          transform: translateY(-1000px);
  opacity: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

@media (max-width: 359.5px) {
  .profile-dropdown {
    position: unset;
    max-width: 290px;
    z-index: 4;
    padding: 0.3rem 0.5rem;
  }
}

@media (min-width: 360px) and (max-width: 870px) {
  .profile-dropdown {
    position: unset;
    z-index: 4;
    margin: auto;
    padding: 0.3rem 0.5rem;
    left: 5%;
    right: 5%;
  }
}

.profile-dropdown .close-btn {
  -ms-flex-item-align: end;
      align-self: flex-end;
  cursor: pointer;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  max-width: 35px;
  padding: 0.1rem;
  background: none;
  border: none;
}

.profile-dropdown .user-details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

@media (max-width: 359.5px) {
  .profile-dropdown .user-details {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0 0.5rem;
  }
}

@media (min-width: 360px) and (max-width: 870px) {
  .profile-dropdown .user-details {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0 0.5rem;
  }
}

.profile-dropdown .user-details .user-icon {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.profile-dropdown .user-details .user-info .user-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
}

.profile-dropdown .user-details .user-info .user-email,
.profile-dropdown .user-details .user-info .user-mobile {
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  color: rgba(0, 0, 0, 0.65);
  margin: 0.25rem 0;
}

.profile-dropdown .logout-btn {
  width: 100%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  background-color: #000;
  padding: 0.4rem 0.8rem;
  max-width: 150px;
  border: 2px solid #000;
  color: #fff;
  border-radius: 50px;
  margin: 0.4rem 0;
  font-size: 17px;
  cursor: pointer;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.profile-dropdown .logout-btn:hover {
  background: #fff;
  color: #000;
}

.profile-dropdown .logout-btn:focus {
  outline: none;
}

.show-profile-dropdown {
  -webkit-animation: slideIn 1s forwards;
          animation: slideIn 1s forwards;
}

@-webkit-keyframes slideIn {
  0% {
    -webkit-transform: translateY(-1000px);
            transform: translateY(-1000px);
    opacity: 0;
  }
  50% {
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
    -webkit-filter: drop-shadow(0px 4px 12px rgba(255, 248, 248, 0.25));
            filter: drop-shadow(0px 4px 12px rgba(255, 248, 248, 0.25));
  }
}

@keyframes slideIn {
  0% {
    -webkit-transform: translateY(-1000px);
            transform: translateY(-1000px);
    opacity: 0;
  }
  50% {
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
    -webkit-filter: drop-shadow(0px 4px 12px rgba(255, 248, 248, 0.25));
            filter: drop-shadow(0px 4px 12px rgba(255, 248, 248, 0.25));
  }
}
