/**
*
* Testing
*
**/
.merchant-product-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-family: 'Poppins', sans-serif;
  background: #F9F9F9;
  -webkit-box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
  margin: 1rem 0.4rem;
  border-radius: 15px;
  max-width: 400px;
}

@media (max-width: 360px) {
  .merchant-product-card {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (min-width: 360px) and (max-width: 430px) {
  .merchant-product-card {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.merchant-product-card a {
  text-decoration: none;
  color: #00030f;
}

.merchant-product-card .product-details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

@media (max-width: 360px) {
  .merchant-product-card .product-details {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.merchant-product-card .product-details .product-img {
  max-width: 100px;
}

@media (max-width: 360px) {
  .merchant-product-card .product-details .product-img {
    width: 100%;
    max-width: unset;
  }
}

.merchant-product-card .product-details .product-img img {
  width: 100%;
  border-radius: 15px 0px 0px 15px;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (max-width: 360px) {
  .merchant-product-card .product-details .product-img img {
    border-radius: 15px 15px 0px 0px;
  }
}

.merchant-product-card .product-details .name-price {
  padding: 0.4rem;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.merchant-product-card .product-details .name-price .product-name {
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
}

.merchant-product-card .product-details .name-price .product-price {
  margin: 0.5rem 0;
  font-weight: normal;
  font-size: 18px;
  line-height: 27px;
}

.merchant-product-card .product-details .name-price .product-quantity {
  font-weight: normal;
  font-size: 16px;
  line-height: 27px;
  color: rgba(0, 0, 0, 0.664);
}

.merchant-product-card .product-details .name-price .product-quantity span {
  margin: 0 0.2rem;
}

.merchant-product-card .delete-btn {
  -ms-flex-item-align: end;
      align-self: flex-end;
  padding: 0.5rem;
  margin: 0 1rem;
  max-width: 40px;
  cursor: pointer;
}

@media (max-width: 360px) {
  .merchant-product-card .delete-btn {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
}

.merchant-product-card .delete-btn svg {
  width: 100%;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.merchant-product-card .delete-btn svg:hover {
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
}

.merchant-product-card .hide-delete {
  display: none;
}
