@import '../../utils//breakpoints.scss';

*{
    transition: 0.2s;
}

.payment-modal-page{
    position: fixed;
    z-index: 1;
    top: 0;
    

    .payment-modal{
        display: flex;
        flex-direction: column;
        position: fixed;
        z-index: 2;
        background: #fff;
        border-radius:25px;
        padding: 0.8rem;
        top: 20%;
        left: 50%;
        transform: translate(-50%, 0);
        width: 100%;
        max-width: 500px;

        @include media("<phone"){
            top: 10px;
            max-width: 250px;
        }
    
        @include media(">=phone","<=custom-view-1"){
            top: 10px;
            max-width: 300px;
        }

        .close-btn{
            cursor: pointer;
            max-width: 35px;
            align-self: flex-end;
            svg{
                width: 100%;
            }
        }

        .product-summary{
            display: flex;
            flex-direction: row;
            padding: 0.6rem;
            transition: 0.2s;

            @include media("<phone"){
                flex-direction: column-reverse;
                height: 200px;
                overflow-y: scroll;
            }
        
            @include media(">=phone","<=custom-view-1"){
                flex-direction: column-reverse;
                height: 300px;
                overflow-y: scroll;
            }

            &::-webkit-scrollbar{
                width: 5px;
                height: 5px;
            }
            
            &::-webkit-scrollbar-thumb{
                background: rgba(0, 0, 0, 0.5);
                border-radius: 10px;
                box-shadow: inset 2px 2px 2px hsla(0, 0%, 100%, .25%);
            }

            &::-webkit-scrollbar-track{
                background: #ffffff4d;
            }
            

            .payment-summary{
                margin: 0 1rem;
                padding: 0.5rem;
                max-width: 280px;

                @include media("<phone"){
                    align-self: center;
                }
            
                @include media(">=phone","<=custom-view-1"){
                    align-self: center;
                }
            }

            .payment-details{
                
                .product-amount,
                .delivery-amount,
                .total-amount{
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                }

                .product,
                .delivery,
                .total{
                    font-weight: 300;
                    font-size: 16px;
                    line-height: 27px;
                }

                .amount{
                    font-style: normal;
                    font-weight: normal;
                    font-size: 16px;
                    line-height: 27px;
                }

            }

            .flutterwave-redirect{
                background: #F5A623;
                border-radius: 36px;
                box-shadow: none;
                border: none;
                max-width: 240px;
                color: #fff;
                font-weight: 500;
                font-size: 17px;
                line-height: 33px;
                cursor: pointer;
                padding: 0.5rem 1rem;
                margin: 1rem 0;
                transition: 0.2s;

                @include media("<=phone"){
                    font-size: 15px;
                    line-height: 25px;
                    padding: 0.3rem 0.6rem;
                }

                &:hover{
                    background: #bd801d;
                }

                &:focus{
                    outline: 0.1px dotted rgba(0, 0, 0, 0.315);
                    border: 1px solid #000000;
                }
            }

            .charges-text{
                font-size: 12px;
                padding: 0.1rem;
                span{
                    color: red;
                }

            }

            .product-img{
                max-width: 200px;

                @include media("<phone"){
                    align-self: center;
                    max-width: 100px;
                }
            
                @include media(">=phone","<=custom-view-1"){
                    align-self: center;
                    max-width: 150px;
                }

                img{
                    width: 100%;
                    border-radius: 16px;
                }
            }
        }

        .acceptable-payments{
            padding: 0.3rem;
            width: fit-content;
            img{
                max-width: 55px;
                padding: 0.2rem;
                margin: 0 0.3rem;
            }
        }
    }

    .modal-mask{
        position: fixed;
        background-color: rgba(0, 0, 0, 0.699);
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }
}