.store-card{
    display: flex;
    flex-direction: row;
    font-family: 'Poppins', sans-serif;
    border: 1px solid #00000036;
    cursor: pointer;
    border-radius: 15px;
    width: fit-content;
    padding: 1rem;
    margin: 0.7rem;
    transition: 0.2s;
    text-decoration: none;
    color: #000;

    &:hover{
        box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.09);
        border-color: #000;
    }

    .store-icon{
        padding: 0.5rem 1rem;
        max-width: 100px;
        
        img{
            width: 100%;
            object-fit: cover;
        }
    }

    .store-info{
        align-self: center;
        margin: 0 0.5rem;
    }

    .store-details{
        .store-name{
            font-size: 20px;
            max-width: 175px;
        }

        .store-owner{
            .location-icon{
                font-size: 15px;
            }

            .store-owner-name{
                font-size: 14px;
            }

        }
    }

    .categories-available{
        display: flex;
        flex-wrap: wrap;
        width: 175px;
        overflow-x: scroll;
        padding: 0.4rem 0;

        &::-webkit-scrollbar{
            width: 5px;
            height: 5px;
        }
        
        &::-webkit-scrollbar-thumb{
            background: rgba(0, 0, 0, 0.13);
            border-radius: 10px;
            box-shadow: inset 2px 2px 2px hsla(0, 0%, 100%, .25%);
        }

        &::-webkit-scrollbar-track{
            background: #ffffff31;
        }
    }
}