.store-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  font-family: 'Poppins', sans-serif;
  border: 1px solid #00000036;
  cursor: pointer;
  border-radius: 15px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 1rem;
  margin: 0.7rem;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  text-decoration: none;
  color: #000;
}

.store-card:hover {
  -webkit-box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.09);
          box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.09);
  border-color: #000;
}

.store-card .store-icon {
  padding: 0.5rem 1rem;
  max-width: 100px;
}

.store-card .store-icon img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.store-card .store-info {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin: 0 0.5rem;
}

.store-card .store-details .store-name {
  font-size: 20px;
  max-width: 175px;
}

.store-card .store-details .store-owner .location-icon {
  font-size: 15px;
}

.store-card .store-details .store-owner .store-owner-name {
  font-size: 14px;
}

.store-card .categories-available {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 175px;
  overflow-x: scroll;
  padding: 0.4rem 0;
}

.store-card .categories-available::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

.store-card .categories-available::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.13);
  border-radius: 10px;
  -webkit-box-shadow: inset 2px 2px 2px rgba(255, 255, 255, 0.25);
          box-shadow: inset 2px 2px 2px rgba(255, 255, 255, 0.25);
}

.store-card .categories-available::-webkit-scrollbar-track {
  background: #ffffff31;
}
