@import '../../utils/breakpoints.scss';

.stores-search{
    display: flex;
    flex-direction: row;
    align-content: center;
    background-color: #fff;
    border-radius: 75px;
    font-family: 'Poppins', sans-serif;
    // position:absolute;
    padding: 0.6rem ;
    max-width: 600px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.09);

    @include media("<phone"){
        border: 1px solid #00000036;
    }

    @include media(">=phone","<=custom-view-2"){
        border: 1px solid #00000036;
    }
    
    img{
        padding: 0.2rem;
        max-width: 30px;
    }

    .search-input{
        border: none;
        font-size: 18px;
        margin: 0 0.2rem 0 0.7rem;
        padding: 0.2rem;
        width: 100%;

        @include media("<phone"){
            font-size: 16px;
            margin: 0 0.2rem;
        }
    
        @include media(">=phone","<=custom-view-2"){
            font-size: 17px;
            margin: 0 0.2rem;
        }
        

        &::placeholder{
            font-family: 'Poppins', sans-serif;
        }

        &:focus{
            outline: 0.1px dotted rgba(0, 0, 0, 0.315);
        }
    }

    // .search-results{
    //     position: absolute;
    // }
}