.products-menu {
  font-family: 'Poppins', sans-serif;
}

.products-menu .products-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  border-radius: 36px;
  padding: 0.5rem;
  min-height: 70px;
}

.products-menu .product {
  padding: 0.4rem;
  margin: 0 1rem;
  cursor: pointer;
  font-size: 18px;
  line-height: 36px;
  color: rgba(0, 0, 0, 0.53);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.products-menu .product::after {
  content: '';
  -webkit-transition: 0.2s;
  transition: 0.2s;
  height: 2px;
  width: 0;
  color: rgba(0, 0, 0, 0.911);
  background-color: rgba(0, 0, 0, 0.911);
  border-radius: 40px;
}

.products-menu .product:hover {
  color: rgba(0, 0, 0, 0.849);
}

.products-menu .product:hover::after {
  display: block;
  width: 100%;
  margin: 0 auto;
}

.products-menu .selected-category {
  color: #000;
}

.products-menu .selected-category::after {
  display: block;
  width: 100%;
  margin: 0 auto;
}
