.merchant-dashboard-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: #f0f2f4;
}

.merchant-dashboard-page aside {
  -ms-flex-item-align: start;
      align-self: flex-start;
}
