@import '../../utils/breakpoints.scss';

.merchant-overview{
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
    font-family: 'Poppins', sans-serif;
    opacity: 0;

    .merchant-overview-title{
        font-weight: 500;
        font-size: 50px;
        line-height: 67px;

        @include media("<=phone"){
            font-size: 35px;
            line-height: 45px;
            text-align: center;
        }

        @include media(">=phone", "<=custom-view-4"){
            font-size: 40px;
            line-height: 55px;
            text-align: center;
        }

    }

    .overview-details{
        display: flex;
        flex-direction:column;
        padding: 0.5rem;
        margin: 1rem 0;

        
        @include media("<phone"){
            padding: 0;
        }
    }

    .total-ratings,
    .total-statistics{
        display: block;
        background: #F9F9F9;
        box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
        border-radius: 13px;
        padding: 1rem 2rem;
        margin: 1rem 2rem;
        min-width: 350px;

        @include media("<phone"){
            margin: 1rem auto;
            min-width: unset;
            padding: 0.9rem 0.6rem;
            width: 100%;
        }


        @include media(">=phone", "<=custom-view-7"){
            margin: 1rem auto;
            min-width: unset;
            padding: 0.9rem 0.6rem;
            width: 100%;
        }

        @include media(">=custom-view-7", "<=custom-view-9"){
          margin: 1rem auto ; 
        }

        p{
            font-weight: 300;
            font-size: 16px;
            line-height: 30px;
            margin: 0.3rem 0;

            @include media("<phone"){
                font-size: 14px;
                line-height: 25px;
            }
    
            @include media(">=phone", "<=custom-view-7"){
                font-size: 15px;
                line-height: 27px;
            }
    
        }
    }

    .total-values{
        display: flex;
        flex-wrap: wrap;
        max-width: 900px;
    }

    .sales-details{
        display: flex;
        flex-direction: column;
        margin: 2rem;
        .sales-title{
            font-weight: normal;
            font-size: 25px;
            line-height: 45px;
            padding: 0.5rem;

            @include media("<phone"){
                font-size: 20px;
                line-height: 30px;
            }

            @include media(">=phone", "<=custom-view-8"){
                font-size: 23px;
                line-height: 40px; 
            }
        }

        .sales-statistics{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            max-width: 950px;
            padding: 1rem;
            background: #F9F9F9;
            box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
            border-radius: 13px;

            @include media("<phone"){
                flex-direction: column; 
            }

            @include media(">=phone", "<=custom-view-8"){
              flex-direction: column;  
            }

            .sales-graph-img{
                width: 100%;
                max-width: 600px;

                @include media("<phone"){
                    display: none;  
                }
        
                @include media(">=phone", "<=450px"){
                    display: none;
                }
    
                @include media(">=450px", "<=custom-view-8"){
                    max-width: unset;  
                }
                
            }

            .sales-values{
                padding: 0.5rem;
                align-self: center;
                margin: 1rem 2rem;

                @include media("<phone"){
                    display: flex;
                    flex-wrap: wrap;
                    margin: 1rem 0.5rem;
                }
    
                @include media(">=phone", "<=custom-view-8"){
                    display: flex;
                    flex-wrap: wrap;
                    margin: 1rem;  
                }


                p{
                    font-weight: 300;
                    font-size: 16px;
                    line-height: 36px;
                    margin: 0.5rem 0;

                    @include media("<phone"){
                        margin: 0.5rem;
                        font-size: 14px;
                        line-height: 25px;
                    }
        
                    @include media(">=phone", "<=custom-view-8"){
                        margin: 0.5rem;
                        font-size: 15px;
                        line-height: 27px;  
                    }
                }
            }
        }
    }

    .top-sales-section{
        padding: 0.5rem ;
        margin: 0 2rem;

        @include media("<phone"){
            margin: 0; 
        }

        @include media(">=phone", "<=450px"){
            margin: 0;
        }

        .top-sales-title{
            font-weight: normal;
            font-size: 25px;
            line-height: 45px;
            padding: 0.5rem;

            @include media("<phone"){
                font-size: 20px;
                line-height: 30px;
            }

            @include media(">=phone", "<=custom-view-8"){
                font-size: 23px;
                line-height: 40px; 
            }
        }

        .top-sales{
            padding: 0.3rem;
            margin: 0.7rem 1rem;
            max-height: 300px;
            overflow-y: scroll;
            max-width: 650px;

            @include media("<phone"){
                margin: 0.7rem 0;
            }

            @include media(">=phone", "<=custom-view-8"){
                margin: 0.7rem 0;
            }

            &::-webkit-scrollbar{
                width: 10px;
                height: 10px;
            }
            
            &::-webkit-scrollbar-thumb{
                background: rgba(0, 5, 23, 0.13);
                border-radius: 10px;
                box-shadow: inset 2px 2px 2px hsla(0, 0%, 100%, .25%);
            }

            &::-webkit-scrollbar-track{
                background: #ffffff4d;
            }
        }

    }

    
}