.merchant-overview{
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
    font-family: 'Poppins', sans-serif;
    opacity: 0;

    .merchant-overview-title{
        font-weight: 500;
        font-size: 50px;
        line-height: 67px;
    }

    .overview-details{
        display: flex;
        flex-direction:column;
        padding: 0.5rem;
        margin: 1rem 0;
    }

    .total-ratings,
    .total-statistics{
        background: #F9F9F9;
        box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
        border-radius: 13px;
        padding: 1rem 2rem;
        margin: 1rem 2rem;
        min-width: 350px;

        p{
            font-weight: 300;
            font-size: 16px;
            line-height: 30px;
            margin: 0.3rem 0;
        }
    }

    .total-values{
        display: flex;
        flex-direction:row ;
        max-width: 900px;
    }

    .sales-details{
        display: flex;
        flex-direction: column;
        margin: 2rem;
        .sales-title{
            font-weight: normal;
            font-size: 25px;
            line-height: 45px;
            padding: 0.5rem;
        }

        .sales-statistics{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            max-width: 950px;
            padding: 1rem;
            background: #F9F9F9;
            box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
            border-radius: 13px;
            .sales-graph-img{
    
                img{
                    width: 100%;
                    height: 100%;
                }
            }

            .sales-values{
                padding: 0.5rem;
                align-self: center;
                margin: 1rem 2rem;
                p{
                    font-weight: 300;
                    font-size: 16px;
                    line-height: 36px;
                    margin: 0.5rem 0;
                }
            }
        }
    }

    .top-sales-section{
        padding: 0.5rem ;
        margin: 0 2rem;

        .top-sales-title{
            font-weight: normal;
            font-size: 25px;
            line-height: 45px;
            padding: 0.5rem;
        }

        .top-sales{
            padding: 0.3rem;
            margin: 0.7rem 1rem;
            max-height: 300px;
            overflow-y: scroll;
            max-width: 650px;

            &::-webkit-scrollbar{
                width: 10px;
                height: 10px;
            }
            
            &::-webkit-scrollbar-thumb{
                background: rgba(0, 5, 23, 0.13);
                border-radius: 10px;
                box-shadow: inset 2px 2px 2px hsla(0, 0%, 100%, .25%);
            }

            &::-webkit-scrollbar-track{
                background: #ffffff4d;
            }
        }

    }

    
}