.merchant-overview {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0.5rem;
  font-family: 'Poppins', sans-serif;
  opacity: 0;
}

.merchant-overview .merchant-overview-title {
  font-weight: 500;
  font-size: 50px;
  line-height: 67px;
}

.merchant-overview .overview-details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0.5rem;
  margin: 1rem 0;
}

.merchant-overview .total-ratings,
.merchant-overview .total-statistics {
  background: #F9F9F9;
  -webkit-box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
  border-radius: 13px;
  padding: 1rem 2rem;
  margin: 1rem 2rem;
  min-width: 350px;
}

.merchant-overview .total-ratings p,
.merchant-overview .total-statistics p {
  font-weight: 300;
  font-size: 16px;
  line-height: 30px;
  margin: 0.3rem 0;
}

.merchant-overview .total-values {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  max-width: 900px;
}

.merchant-overview .sales-details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 2rem;
}

.merchant-overview .sales-details .sales-title {
  font-weight: normal;
  font-size: 25px;
  line-height: 45px;
  padding: 0.5rem;
}

.merchant-overview .sales-details .sales-statistics {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 950px;
  padding: 1rem;
  background: #F9F9F9;
  -webkit-box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
  border-radius: 13px;
}

.merchant-overview .sales-details .sales-statistics .sales-graph-img img {
  width: 100%;
  height: 100%;
}

.merchant-overview .sales-details .sales-statistics .sales-values {
  padding: 0.5rem;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin: 1rem 2rem;
}

.merchant-overview .sales-details .sales-statistics .sales-values p {
  font-weight: 300;
  font-size: 16px;
  line-height: 36px;
  margin: 0.5rem 0;
}

.merchant-overview .top-sales-section {
  padding: 0.5rem;
  margin: 0 2rem;
}

.merchant-overview .top-sales-section .top-sales-title {
  font-weight: normal;
  font-size: 25px;
  line-height: 45px;
  padding: 0.5rem;
}

.merchant-overview .top-sales-section .top-sales {
  padding: 0.3rem;
  margin: 0.7rem 1rem;
  max-height: 300px;
  overflow-y: scroll;
  max-width: 650px;
}

.merchant-overview .top-sales-section .top-sales::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

.merchant-overview .top-sales-section .top-sales::-webkit-scrollbar-thumb {
  background: rgba(0, 5, 23, 0.13);
  border-radius: 10px;
  -webkit-box-shadow: inset 2px 2px 2px rgba(255, 255, 255, 0.25);
          box-shadow: inset 2px 2px 2px rgba(255, 255, 255, 0.25);
}

.merchant-overview .top-sales-section .top-sales::-webkit-scrollbar-track {
  background: #ffffff4d;
}
